.App {
  text-align: center;
}

.out-container {
  background: url('assets/Materials/BG_Desktop.png');
}

@media screen and (max-width: 750px) {
  .out-container {
    background: url('assets/Materials/BG_Mobile.png');
  }
}